{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/core/(.*)$",
    "^@/core/component/(.*)$",
    "^@/components/(.*)$",
    "^@/components/layout/(.*)$",
    "^@/components/screens/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/styles/(.*)$",
    "^@/config/(.*)$",
    "^@/utils/(.*)$",
    "^@/services/(.*)$",
    "^@/store/(.*)$",
    "^@/api/(.*)$",
    "(.scss)$",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
